<div @onclick="OnClick" class="page">
    <img />
    <a>@name</a>
</div>
@code {
    private string name = "MACIAKOW";
    private void SetName(string _name)
    {
        name = _name;
    }
    private void OnClick()
    {
        Console.WriteLine("CWEL");
    }
}