@inherits LayoutComponentBase
<div class="my-box">
    <div >
        @descryption
        <a>@destination :</a>
        @addreser
    </div>
    <a>@Amount  USD</a>
</div>
@code {
    [Parameter]
    public string descryption { get; set; }
    [Parameter]
    public decimal Amount { get; set; }
    [Parameter]
    public string destination { get; set; }
    [Parameter]
    public string addreser { get; set; }
    
    public void AddTab(string _descryption,decimal _value,bool isRecive)
    {
        descryption = _descryption;
        Amount = _value;
        if(isRecive)
        {
            destination = "from";
        }
        else
        {
            destination = "to";
        }
    }
}
