@inherits LayoutComponentBase
<div class="my-box">
    <div >
        @descryption
    </div>
    <a>@value USD</a>
</div>
@code {
    public string descryption;
    public float value;

    public void AddTab(string _descryption,float _value)
    {
        descryption = _descryption;
        value = _value;
    }
}
