@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row">
            <input />
            <button>Support</button>
            <button>Contact</button>
            <a href="https://music.youtube.com/watch?v=NY8uyyLq4HQ&list=RDAOcZA5bYgcSOdThmttBwzxdQ" target="_blank">Informacje o firmie</a>
            <NavLink class="nav-link" href="/logout" Match="NavLinkMatch.All">
                <i class="bi bi-house-door-fill nav-icon"></i> Log out
            </NavLink>
        </div>
        

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
