.container {
    float: left;
    
}
.container button 
{
    padding: 3% 10%;
    width: 3;
}
.main-body {
    display: flex;
    flex-direction: column;
}
.Payment-history {
    flex-direction: column;
    display: flex;
    padding: 3%;
    gap: 5px;
}
.account-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* optional, allows wrapping to next line if needed */
    gap: 10px;
}
.Add-friend
{
    width:80px;
    height:80px;
}