@page "/"
@inject NavigationManager NavigationManager
<body>
    <div class="main-body">
        <h3>Your current balance: @curBalance @curCurrency </h3>
        <div class='container'>
            <button @onclick="NavigateToTransaction" type="button">New transaction</button>
            <button @onclick="NavigateToCurrency" type="button">Change currency</button>
            <button @onclick="NavigateToHistory" type="button">History</button>
        </div>
        <article>
            <h3>Accounts</h3>
            <div class='account-container'>
                <button @onclick="AddFriend" class="Add-friend">Add Friend</button>
                <TestBlazor.Components.Layout.Account></TestBlazor.Components.Layout.Account>
                <TestBlazor.Components.Layout.Account></TestBlazor.Components.Layout.Account>
                <TestBlazor.Components.Layout.Account></TestBlazor.Components.Layout.Account>
                <TestBlazor.Components.Layout.Account></TestBlazor.Components.Layout.Account>
                <TestBlazor.Components.Layout.Account></TestBlazor.Components.Layout.Account>
                <TestBlazor.Components.Layout.Account></TestBlazor.Components.Layout.Account>
            </div>
        </article>
        <div class="Payment-history">
            <h3>Last activity</h3>
            
            <TestBlazor.Components.Layout.HistoryTab></TestBlazor.Components.Layout.HistoryTab>
            <TestBlazor.Components.Layout.HistoryTab></TestBlazor.Components.Layout.HistoryTab>
            <TestBlazor.Components.Layout.HistoryTab></TestBlazor.Components.Layout.HistoryTab>
            <TestBlazor.Components.Layout.HistoryTab></TestBlazor.Components.Layout.HistoryTab>
            <TestBlazor.Components.Layout.HistoryTab></TestBlazor.Components.Layout.HistoryTab>
            <TestBlazor.Components.Layout.HistoryTab></TestBlazor.Components.Layout.HistoryTab>
            <TestBlazor.Components.Layout.HistoryTab></TestBlazor.Components.Layout.HistoryTab>
        </div>

    </div>
</body>

@code
{
    int curBalance = 10;
    string curCurrency = "USD";
    private void NavigateToTransaction()
    {
        NavigationManager.NavigateTo("/transaction");
    }
    private void NavigateToCurrency()
    {
        NavigationManager.NavigateTo("/currency");
    }
    private void NavigateToHistory()
    {
        NavigationManager.NavigateTo("/history");
    }
    private void AddFriend()
    {
        NavigationManager.NavigateTo("/addfriend");
    }
}