@page "/"

<body>
    <div class="main-body">
        <h3>Your current balance: 1000 USD </h3>
        <div class='container'>
            <button type="button">New payment</button>
            <button type="button">Change currency</button>
            <button type="button">Payments to sign</button>
        </div>
        <article>
            <h3>Accounts</h3>
            <div class='container'>
                <button type="button">New payment</button>
                <button type="button">Change currency</button>
                <button type="button">History</button>
            </div>
        </article>
        <div class="Payment history">
            <h3>Last activity</h3>
            <TestBlazor.Components.Layout.HistoryTab></TestBlazor.Components.Layout.HistoryTab>
        </div>

    </div>
</body>

@code
{

}