
@page "/"
@layout NoMenuLayout
@inject NavigationManager NavigationManager
@using System.Net.Http.Json
@using TestBlazor.Shared

@inject HttpClient Http


<head>

</head>

<body>
    <article class="mainBody">
        <div>
            <a>DADA</a>
        </div>
    </article>

</body>









@code {

    [Inject]
    public NavigationManager navigationManager { get; set; }
    private string login = "";
    private string password = "";
    private string errorMessage = "";
    private string email = "";
    private async Task LogToWebsite()
    {
        errorMessage = "";

        var data = new LoginDTO { login = login, password = password };
        try
        {
            var response = await Http.PostAsJsonAsync("BankApi/login/login", data);

            if (response.IsSuccessStatusCode)
            {
                NavigationManager.NavigateTo("/home/", true);
            }
            else if (response.StatusCode == System.Net.HttpStatusCode.Unauthorized)
            {
                errorMessage = "Nieprawidłowy login lub hasło.";
            }
            else
            {
                errorMessage = $"Błąd: {response.StatusCode}";
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"Wyjątek: {ex.Message}";
        }
    }

    private async Task RegisterToWebSite()
    {
        navigationManager.NavigateTo("/register/", true);
    }
    
}