
@page "/"
@inject NavigationManager NavigationManager
@using System.Net.Http.Json

@inject HttpClient Http
<PageTitle>LOGIN</PageTitle>
<div style=" flex-direction: column; gap: 10px;">
<h1>Login to your account</h1><br  />
    <InputText @bind-Value="login" type="login" placeholder="Login"></InputText>

<InputText @bind-Value="password" type="password" placeholder="Password"></InputText>

<button @onclick="LogToWebsite">Log</button>
    <button @onclick="RegisterToWebSite">Register</button>
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <p style="color: red;">@errorMessage</p>
    }
</div>
@code {

    [Inject]
    public NavigationManager navigationManager { get; set; }
    private string login = "";
    private string password = "";
    private string errorMessage = "";
    private string email = "";
    private async Task LogToWebsite()
    {
        errorMessage = "";

        var data = new LoginDTO { login = login, password = password };
        try
        {
            var response = await Http.PostAsJsonAsync("BankApi/login/login", data);

            if (response.IsSuccessStatusCode)
            {
                NavigationManager.NavigateTo("/home/", true);
            }
            else if (response.StatusCode == System.Net.HttpStatusCode.Unauthorized)
            {
                errorMessage = "Nieprawidłowy login lub hasło.";
            }
            else
            {
                errorMessage = $"Błąd: {response.StatusCode}";
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"Wyjątek: {ex.Message}";
        }
    }

    private async Task RegisterToWebSite()
    {
        navigationManager.NavigateTo("/register/", true);
    }
    
}