@page "/transaction"
@inject NavigationManager NavigationManager
@using System.Net.Http.Json


@inject HttpClient Http

<div class="main-box">
    <input class="email-input" @bind="inputedEmail" type="text" id="email" name="email" placeholder="Enter email" />
    <input class="amount-input" @bind="inputedValue" type="text" id="amount" name="amount" placeholder="Enter amount" />

    <button @onclick="VerifyTransaction">Confrim</button>
</div>


@code {
    [Inject]
    public NavigationManager navigationManager { get; set; }
    private string inputedEmail;
    private decimal inputedValue;
    private string errorMessage;
    private int ReciverId;
    private async Task VerifyTransaction()
    {
        Console.WriteLine("mada");
        var transactions = await Http.GetFromJsonAsync<TransactionsResponse>($"/BankApi/account/{inputedEmail}/getemail");
        if (transactions != null && transactions.id != null)
        {
            ReciverId = transactions.id;
            Console.WriteLine("DDAD");
            SendTransaction();
        }
        
        
    }
    private async Task SendTransaction()
    {
        Console.WriteLine("hjmgbhmmbn");
        errorMessage = "";
        
        var data = new TransactionDTO { senderAccountId = ReciverId,recivedId = 1,amount = inputedValue};
        try
        {
            Console.WriteLine("oadas");
            var response = await Http.PostAsJsonAsync("BankApi/transaction", data);

            if (response.IsSuccessStatusCode)
            {
                NavigationManager.NavigateTo("/home/", true);
            }
            else if (response.StatusCode == System.Net.HttpStatusCode.Unauthorized)
            {
                errorMessage = "Nieprawidlowe dane";
            }
            else
            {
                errorMessage = $"Błąd: {response.StatusCode}";
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"Wyjątek: {ex.Message}";
        }
    }
    
}
