@page "/register"
@layout NoMenuLayout
@inject NavigationManager NavigationManager
@using System.Net.Http.Json
@using TestBlazor.Shared

@inject HttpClient Http


<head>

</head>

<body>
    <div class="main-body">
        <div class="login-box">
            <h1 class="title">Login to your account</h1>
            <form class="login-form">
                <label for="email">Email</label>
                <input @bind="email" type="text" id="email" name="email" />
                <label for="login">Login</label>
                <input @bind="login" type="text" id="login" name="login" />

                <label for="password">Password</label>
                <input @bind="password" type="password" id="password" name="password" />
                <label for="confirm">confirm password</label>
                <input @bind="Replypassword" type="password" id="reply" name="reply" />
                <label></label>
                

                <button type="button" @onclick="RegisterToWebSite">Register</button>
                <a type="button" @onclick="ChangeToLogin">You have account? Login here</a>
            </form>
        </div>
    </div>
</body>

@code {
    [Inject]
    public NavigationManager navigationManager { get; set; }
    private string login = "";
    private string password = "";
    private string Replypassword = "";
    private string email = "";
    private string errorMessage = "";

    private async Task RegisterToWebSite()
    {
        errorMessage = "";

        var data = new RegisterDto { email = email, login = login, password = password };
        if(Replypassword == password)
        {
            try
            {
                var response = await Http.PostAsJsonAsync("BankApi/login/register", data);

                if (response.IsSuccessStatusCode)
                {
                    NavigationManager.NavigateTo("/verify", true); // Przenieœ na stronê logowania
                }
                else
                {
                    errorMessage = $"B³¹d: {response.StatusCode}";
                }
            }
            catch (Exception ex)
            {
                errorMessage = $"Wyj¹tek: {ex.Message}";
            }
        }
        else
        {
            errorMessage = "not the same passwords";
        }

    }
    public async Task ChangeToLogin()
    {
        navigationManager.NavigateTo("/", true);
    }

    
}